


html,
main {
  min-height: 100%;
}

body {
  padding: 0.3rem;
  background: linear-gradient(to bottom right, #333333, #a2a2a2);
  min-height: 100%;

  /* flex-wrap: wrap; */
}

h1 {
  display: block;
  /* position: absolute; */
  margin: 0px 0px 0px 0px;
}

.title_name {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;

  font-family: Garamond;
  font-weight: bold;
  font-size: 12px;
}

.diceContainer {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: auto auto;

  grid-template-rows: two;
  justify-content: space-around;
  padding: 20px;
}

.dice {
  overflow: hidden;
  display: flex;
  height: 181px;
  width: 207px;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* so the dice doesnt warp off the page */
  margin-left: auto;
  margin-right: auto;
  margin: 10px 10px 10px 10px;

  border: black solid;
  border-radius: 12px;
  background-color: rgb(228, 34, 0);
  font-family: arial;
  font-size: 40px;
  font-weight: bolder;
}

.dice:hover {
  transition: 0.1s;
  opacity: 1;
  color: rgb(255, 230, 0);
}


.btnContainer {
  display: block;
  text-align: center;
  /* grid-template-columns: auto auto auto auto; */
  /* margin: 20px 0px 0px 20px; */
  justify-content: center;
  padding-bottom: auto;
}

.version {
  text-align: center;
  font-size: 14px;
  font-family: 'EB Garamond';
}

.titlebar {
  display: block;
  /* text-align: center; */
  text-indent: 33%;

  justify-content: center;
  font-family: monospace;
  font-size: 12px;
  font-weight: bolder;
  padding: 0.1rem;
}

.mainBtn {
  justify-content: center;
  display: flex;
  text-align: auto;
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
}
.SkateLog {
  text-wrap: wrap;
  text-align: center;
  margin: auto;
  width: 450px;
  height: 50px;
  border: black solid 1px;
  background-color: rgb(232, 232, 232);

  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 14px;
}

.logContainer {
  padding: 10px;

}

.game {
  display: flex;
}

#Roll_btn {

  align-content: center;
  transition: 0.1s;
  color: white;
  background-color: rgb(38, 39, 41);

  margin-left: 10px;
  height: 50px;
  width: 100px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  border: black solid 2px;
}

#Roll_btn:hover {
  opacity: 1;
  background-color: rgb(38, 39, 41);
  color: rgb(59, 169, 59);

  cursor: pointer;
}

#Roll_btn:active {
  background-color: rgb(216, 173, 1);
  color: white;

  cursor: grabbing;
  transform: translateY(4px);
}

#startClear_btn {
  transition: 0.1s;
  color: white;
  background-color: rgb(38, 39, 41);
  margin: auto;
  height: 50px;
  width: 100px;
  /* padding: 10px; */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  border: black solid 2px;
}

#startClear_btn:hover {
  background-color: rgb(38, 39, 41);
  color: rgb(158, 121, 0);
}

#startClear_btn:active {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: grabbing;
  transform: translateY(4px);
}
